@font-face{
  font-family: login-font;
  src: url("MotionPicture_PersonalUseOnly.ttf")
}
html {
  font-family: sans-serif;
}
body{
  display:flex;
}
.submitButton{
  position: relative;
  top: 20px;
  left: 20px;
}

button{
  background-color: crimson;
  color:rgb(246, 247, 241);
  font-family: login-font;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 12px;
}

.background{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("pexels-tayla-walsh-2825904.jpg");
    height:800px;
    width: 550px;
    background-color: #ade0b2;
    background-position: left;
    background-size: cover;
}

.welcomeMidSpace{
  background-color: black;
  opacity: 0.6;
  height: 100px;
}

.welcomeBottomSpace{
  color:white;
  align-self: center;
  margin-bottom: 20px;
}

.overlay{
  align-self: center;
  align-content: center;
  position: relative;
  top:-29% ;
  color:white;
  font-family: login-font;
  font-size: 50px;
  white-space: nowrap;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:10px;
}

.signups{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  min-width:400px ;
}
.topSpace{
  align-self: center;
  font-family: login-font;
  font-size: xx-large;
  padding: 20px;
}

.bottomSpace{
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-left: 50px;
}

td, th {
  padding: 10px 20px;
  height: 50px;
}
 input:focus, textarea:focus, select:focus {
  outline-offset: 0px;
  border: 1px solid rgb(4, 63, 4);
  box-shadow: 0px 0px 4px green ;
  outline: none;
 }
  